@(message: String)

@main("Welcome to Betterrev", true, false, false, false, false) {
    
    <h1>Welcome to Betterrev</h1>
    <p>An attempt to make webrevs more human friendly.</p>
    <p><a href="/help/"><img src="@routes.Assets.at("images/Icon_Arrow_60x60px.png")" alt="Where Do I Start?"/> I'm New here, Where Do I Go?</a></p>
    
    <h2>Betterrev Workflow</h2>
    <ol>
        <li><strong>You</strong> submit a Pull Request for your patch, <strong>Betterrev</strong> will create a Pull Review</li>
        <li><strong>You</strong> authorise <strong>Betterrev</strong> to find you a sponsor</li>
        <li>Once <strong>OpenJDK</strong> accepts your Pull Review, <strong>Betterrev</strong> will close it automatically</li>
    </ol>

    <hr />

    <h2>Show me the Pull Reviews</h2>
    <p><a href="/pullreviews/">See a list of Pull Reviews</a></p>

}
