@(pullReviewEvent: PullReviewEvent)

<div>@{ import models.PullReviewEvent._

        pullReviewEvent.pullReviewEventType match {
            case PullReviewEventType.PULL_REVIEW_GENERATED => "Generated"
            case PullReviewEventType.PULL_REVIEW_MODIFIED => "Modified"
            case PullReviewEventType.MENTOR_NOTIFIED => "Mentor Notified"
            case PullReviewEventType.APPROVED => "Approved"
            case PullReviewEventType.MERGED => "Merged"
            case PullReviewEventType.REJECTED => "Rejected"
            case PullReviewEventType.TERMINATED => "Terminated"
        }
    }
</div>
<div>@(utils.DateTimePattern.format(pullReviewEvent.createdDate))</div>
<a href="@pullReviewEvent.linkToExternalInfo"
   target="_blank">@pullReviewEvent.linkToExternalInfo</a>